process {
    errorStrategy = 'terminate'
    withLabel: small {
        memory = '4 GB'
        time = '2h'
    }
    withLabel: mapping {
        memory = '16 GB'
        time = '12h'
    }
}

profiles {
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = params.queue ?: null
        workDir = params.work_dir ?: 'work'
    }
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
